In [11]:
weatherDS = spark.read.csv("../input/weather.csv", header=True)

In [12]:
weatherDS.createOrReplaceTempView("weatherDS")
weatherDS = sqlContext.sql("SELECT * FROM weatherDS WHERE Station = 1")
weatherDS.createOrReplaceTempView("weatherDS")

In [13]:
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import IntegerType

def hhmmTo24Sec(hhmmStr):
    h = int(hhmmStr[0:2])
    m = int(hhmmStr[2:4])
    return h*3600 + m*60






#weatherDS = weatherDS.select([hhmmTo24SecUDF(c).alias(c) if c in targetColumns else c for c in weatherDS.columns])
#weatherDS = weatherDS.selectExpr(["*", "YEAR(CAST(weatherDS.Date AS DATE)) year", 
#                                        "MONTH(CAST(weatherDS.Date AS DATE)) month"]
#                                                   ).alias("weatherDS")

In [14]:
def extractDateFeatures(weatherDF):
    
    yearColDef = "YEAR(CAST(Date AS DATE)) year"
    monthColDef = "MONTH(CAST(Date AS DATE)) month"
    weatherDF = weatherDF.selectExpr(["*", yearColDef , monthColDef ])
    return weatherDF


def hhmmTo24SecDf(weatherDF, inputColumns=["Sunrise", "Sunset"]):

    targetColumns = set(inputColumns)
    hhmmTo24SecUDF = UserDefinedFunction(lambda x: hhmmTo24Sec(x), IntegerType())
    weatherDF = weatherDF.select([hhmmTo24SecUDF(c).alias(c) if c in targetColumns else c for c in weatherDS.columns])
    return weatherDF


weatherDS = extractDateFeatures(weatherDS)
weatherDS = hhmmTo24SecDf(weatherDS)
weatherDS = weatherDS.alias("weatherDS")

In [15]:
sqlContext.sql("SELECT * FROM weatherDS").show()

+-------+----------+----+----+----+------+--------+-------+----+----+-------+------+-------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+
|Station|      Date|Tmax|Tmin|Tavg|Depart|DewPoint|WetBulb|Heat|Cool|Sunrise|Sunset|CodeSum|Depth|Water1|SnowFall|PrecipTotal|StnPressure|SeaLevel|ResultSpeed|ResultDir|AvgSpeed|
+-------+----------+----+----+----+------+--------+-------+----+----+-------+------+-------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+
|      1|2007-05-01|  83|  50|  67|    14|      51|     56|   0|   2|   0448|  1849|       |    0|     M|     0.0|       0.00|      29.10|   29.82|        1.7|       27|     9.2|
|      1|2007-05-02|  59|  42|  51|    -3|      42|     47|  14|   0|   0447|  1850|     BR|    0|     M|     0.0|       0.00|      29.38|   30.09|         13|        4|    13.4|
|      1|2007-05-03|  66|  46|  56|     2|      40|     48|   9|   0|   0446|  1851|       |    0|     M|     0.0|       0.00|      29.39|   30.12|       11.7|        7|    11.9|
|      1|2007-05-04|  66|  49|  58|     4|      41|     50|   7|   0|   0444|  1852|     RA|    0|     M|     0.0|          T|      29.31|   30.05|       10.4|        8|    10.8|
|      1|2007-05-05|  66|  53|  60|     5|      38|     49|   5|   0|   0443|  1853|       |    0|     M|     0.0|          T|      29.40|   30.10|       11.7|        7|    12.0|
|      1|2007-05-06|  68|  49|  59|     4|      30|     46|   6|   0|   0442|  1855|       |    0|     M|     0.0|       0.00|      29.57|   30.29|       14.4|       11|    15.0|
|      1|2007-05-07|  83|  47|  65|    10|      41|     54|   0|   0|   0441|  1856|     RA|    0|     M|     0.0|          T|      29.38|   30.12|        8.6|       18|    10.5|
|      1|2007-05-08|  82|  54|  68|    12|      58|     62|   0|   3|   0439|  1857|     BR|    0|     M|     0.0|       0.00|      29.29|   30.03|        2.7|       11|     5.8|
|      1|2007-05-09|  77|  61|  69|    13|      59|     63|   0|   4|   0438|  1858|  BR HZ|    0|     M|     0.0|       0.13|      29.21|   29.94|        3.9|        9|     6.2|
|      1|2007-05-10|  84|  56|  70|    14|      52|     60|   0|   5|   0437|  1859|     BR|    0|     M|     0.0|       0.00|      29.20|   29.92|        0.7|       17|     4.1|
|      1|2007-05-11|  70|  51|  61|     4|      42|     51|   4|   0|   0436|  1860|       |    0|     M|     0.0|       0.00|      29.33|   30.04|       11.3|        3|    12.9|
|      1|2007-05-12|  64|  46|  55|    -2|      36|     46|  10|   0|   0435|  1901|       |    0|     M|     0.0|       0.00|      29.49|   30.20|       12.4|        3|    12.9|
|      1|2007-05-13|  69|  43|  56|    -2|      33|     46|   9|   0|   0434|  1902|       |    0|     M|     0.0|       0.00|      29.49|   30.24|        6.6|       14|     8.1|
|      1|2007-05-14|  90|  56|  73|    15|      47|     59|   0|   8|   0433|  1903|       |    0|     M|     0.0|       0.00|      29.23|   29.97|       16.9|       21|    17.3|
|      1|2007-05-15|  80|  57|  69|    11|      56|     61|   0|   4|   0432|  1904|  RA BR|    0|     M|     0.0|       0.38|      29.13|   29.84|        8.1|       27|    12.3|
|      1|2007-05-16|  66|  44|  55|    -4|      43|     48|  10|   0|   0431|  1905|  RA BR|    0|     M|     0.0|       0.14|      29.33|   30.03|        7.8|       36|    12.2|
|      1|2007-05-17|  62|  43|  53|    -6|      32|     43|  12|   0|   0430|  1906|       |    0|     M|     0.0|       0.00|      29.55|   30.27|       10.5|        3|    11.3|
|      1|2007-05-18|  71|  42|  57|    -3|      30|     46|   8|   0|   0429|  1907|       |    0|     M|     0.0|       0.00|      29.53|   30.25|        5.4|       25|     7.5|
|      1|2007-05-19|  80|  56|  68|     8|      39|     53|   0|   3|   0428|  1908|       |    0|     M|     0.0|       0.00|      29.34|   30.08|       11.1|       24|    11.4|
|      1|2007-05-20|  69|  43|  56|    -5|      40|     44|   9|   0|   0427|  1909|RA VCTS|    0|     M|     0.0|       0.07|      29.38|   30.11|       10.4|        4|    10.7|
+-------+----------+----+----+----+------+--------+-------+----+----+-------+------+-------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+
only showing top 20 rows

I know what columns should be numeric but I don't know what non numeric values are there. I am assuming that 
there should be only 
1. M for missing
2. T for traces 

However we better check

In [16]:
continuosColums = set(["Tmax", "Tmin", "Tavg", "Depart", "DewPoint", "WetBulb", "Heat", "Cool", 
                       "Sunrise", "Sunset", "Depth", "SnowFall", "PrecipTotal", 
                      "StnPressure", "SeaLevel", "ResultSpeed", "ResultDir", "AvgSpeed"])

def nonNumericValues(df, colName):
         
        resultSet = df.select(colName).filter("TRIM({}) not rlike '^[0-9\-]' ".format(colName)).distinct().collect()
        return [x[colName] for x in resultSet]


columnProperties = {}   
for x in continuosColums:
     l = nonNumericValues(weatherDS, x)
     columnProperties[x] = {"nonNumericValues": l}

In [17]:
import pandas as pd

pd.DataFrame(columnProperties)

,AvgSpeed,Cool,Depart,Depth,DewPoint,Heat,PrecipTotal,ResultDir,ResultSpeed,SeaLevel,SnowFall,StnPressure,Sunrise,Sunset,Tavg,Tmax,Tmin,WetBulb
nonNumericValues,[],[],[],[],[],[],[ T],[],[],[M],[ T],[M],[],[],[],[],[],[M]

The replacement stragegy is pretty simple:

* We replace T with the minumn value ever recored 
* We replace M with the average for that month ( we could replace with the average for that week of the month or any other time interval )

In [18]:
from pyspark.sql.functions import col 

defaultCols = weatherDS.columns 


for columnName, properties in columnProperties.items() : 
    nonNumericValues = properties['nonNumericValues']
    if(len(nonNumericValues)) != 0:
         # Filter  needed
         minVal = weatherDS.selectExpr("MIN(CAST( {} AS DOUBLE)) min_val"\
                                       .format(columnName)).collect()[0]['min_val']
            
         weatherDS.createOrReplaceTempView("weatherDS")   
         avgValDF = sqlContext.sql("""
         SELECT 
         year,
         month, 
         AVG({}) avg_val
         FROM weatherDS 
         GROUP BY 1,2
         """.format(columnName))
         avgValDF = avgValDF.alias("avgValDF")
         weatherDS = weatherDS.join(avgValDF, (weatherDS.year == avgValDF.year) &
                                   (weatherDS.month == avgValDF.month),
                        "left").\
         selectExpr(["weatherDS.*" , """CAST(CASE WHEN TRIM({0}) == 'T' THEN {1} 
                                WHEN TRIM({0}) == 'M' THEN avg_val
                                ELSE TRIM({0})
                                END AS DOUBLE
                           ) new_{0}     
                 """.format(columnName, minVal)
                   ])
         
    else:
        weatherDS = weatherDS.selectExpr(["weatherDS.*", "CAST({0} AS DOUBLE) new_{0}".format(columnName)])
     
    
    weatherDS = weatherDS.drop(columnName).\
                 select([col("new_{}".format(columnName)).alias(columnName) if x == columnName else x for x in defaultCols]) 
    weatherDS = weatherDS.alias("weatherDS")

In [19]:
weatherDS = weatherDS.selectExpr(["*", "CAST(Date as DATE) AS measureDate"])
weatherDS = weatherDS.alias("weatherDS")

In [20]:
weatherDS.show()

+-------+----------+----+----+----+------+--------+-------+----+----+-------+-------+-------------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+----+-----+-----------+
|Station|      Date|Tmax|Tmin|Tavg|Depart|DewPoint|WetBulb|Heat|Cool|Sunrise| Sunset|      CodeSum|Depth|Water1|SnowFall|PrecipTotal|StnPressure|SeaLevel|ResultSpeed|ResultDir|AvgSpeed|year|month|measureDate|
+-------+----------+----+----+----+------+--------+-------+----+----+-------+-------+-------------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+----+-----+-----------+
|      1|2007-06-01|85.0|62.0|74.0|  10.0|    63.0|   66.0| 0.0| 9.0|15540.0|69600.0|   TSRA BR HZ|  0.0|     M|     0.0|       0.19|      29.19|   29.91|        4.2|     17.0|     6.4|2007|    6| 2007-06-01|
|      1|2007-06-02|81.0|65.0|73.0|   9.0|    63.0|   67.0| 0.0| 8.0|15540.0|69600.0|        RA BR|  0.0|     M|     0.0|       0.04|      29.03|   29.77|        6.5|     22.0|     7.4|2007|    6| 2007-06-02|
|      1|2007-06-03|78.0|62.0|70.0|   6.0|    60.0|   63.0| 0.0| 5.0|15480.0|69660.0|TSRA RA BR HZ|  0.0|     M|     0.0|       0.01|      28.82|   29.56|        5.2|     25.0|     6.7|2007|    6| 2007-06-03|
|      1|2007-06-04|71.0|58.0|65.0|   1.0|    58.0|   60.0| 0.0| 0.0|15480.0|69720.0|   TSRA RA BR|  0.0|     M|     0.0|       0.39|      28.82|   29.52|        7.8|     31.0|     9.7|2007|    6| 2007-06-04|
|      1|2007-06-05|64.0|47.0|56.0|  -9.0|    48.0|   51.0| 9.0| 0.0|15420.0|69780.0|        RA BR|  0.0|     M|     0.0|       0.42|       29.1|   29.79|        5.2|      5.0|     7.6|2007|    6| 2007-06-05|
|      1|2007-06-06|71.0|44.0|58.0|  -8.0|    48.0|   55.0| 7.0| 0.0|15420.0|69780.0|           RA|  0.0|     M|     0.0|       0.01|      29.07|   29.81|       10.8|     17.0|    11.4|2007|    6| 2007-06-06|
|      1|2007-06-07|91.0|71.0|81.0|  15.0|    62.0|   69.0| 0.0|16.0|15420.0|69840.0|             |  0.0|     M|     0.0|        0.0|      28.84|   29.55|       22.7|     20.0|    23.1|2007|    6| 2007-06-07|
|      1|2007-06-08|81.0|57.0|69.0|   3.0|    53.0|   61.0| 0.0| 4.0|15420.0|69900.0|             |  0.0|     M|     0.0|        0.0|      29.18|   29.85|       10.9|     28.0|    13.8|2007|    6| 2007-06-08|
|      1|2007-06-09|79.0|52.0|66.0|   0.0|    47.0|   57.0| 0.0| 1.0|15360.0|69900.0|             |  0.0|     M|     0.0|        0.0|      29.36|   30.07|        0.3|     33.0|     5.0|2007|    6| 2007-06-09|
|      1|2007-06-10|81.0|55.0|68.0|   1.0|    51.0|   59.0| 0.0| 3.0|15360.0|69960.0|             |  0.0|     M|     0.0|        0.0|      29.34|   30.05|        4.8|     17.0|     5.6|2007|    6| 2007-06-10|
|      1|2007-06-11|86.0|58.0|72.0|   5.0|    52.0|   61.0| 0.0| 7.0|15360.0|69960.0|             |  0.0|     M|     0.0|        0.0|      29.41|   30.11|        4.9|     11.0|     6.9|2007|    6| 2007-06-11|
|      1|2007-06-12|83.0|62.0|73.0|   5.0|    50.0|   60.0| 0.0| 8.0|15360.0|70020.0|             |  0.0|     M|     0.0|        0.0|      29.44|   30.16|        8.3|      5.0|     8.8|2007|    6| 2007-06-12|
|      1|2007-06-13|87.0|60.0|74.0|   6.0|    53.0|   62.0| 0.0| 9.0|15360.0|70020.0|             |  0.0|     M|     0.0|        0.0|      29.36|   30.09|        7.2|      5.0|     8.6|2007|    6| 2007-06-13|
|      1|2007-06-14|89.0|64.0|77.0|   9.0|    55.0|   64.0| 0.0|12.0|15360.0|70080.0|             |  0.0|     M|     0.0|        0.0|       29.3|   30.02|        5.6|      5.0|     6.8|2007|    6| 2007-06-14|
|      1|2007-06-15|91.0|63.0|77.0|   9.0|    56.0|   64.0| 0.0|12.0|15360.0|70080.0|             |  0.0|     M|     0.0|        0.0|      29.28|   29.99|        4.1|      6.0|     4.9|2007|    6| 2007-06-15|
|      1|2007-06-16|93.0|66.0|80.0|  11.0|    60.0|   67.0| 0.0|15.0|15360.0|70140.0|        RA HZ|  0.0|     M|     0.0|        0.0|      29.26|   29.97|        4.8|     28.0|     5.8|2007|    6| 2007-06-16|
|      1|2007-06-17|91.0|70.0|81.0|  12.0|    64.0|   70.0| 0.0|16.0|15360.0|70140.0|           HZ|  0.0|     M|     0.0|        0.0|      29.23|   29.95|        2.8|     11.0|     6.3|2007|    6| 2007-06-17|
|      1|2007-06-18|89.0|69.0|79.0|   9.0|    65.0|   70.0| 0.0|14.0|15360.0|70140.0|   TSRA RA HZ|  0.0|     M|     0.0|       0.28|      29.12|   29.84|       14.0|     20.0|    15.1|2007|    6| 2007-06-18|
|      1|2007-06-19|80.0|65.0|73.0|   3.0|    55.0|   63.0| 0.0| 8.0|15360.0|70200.0|           RA|  0.0|     M|     0.0|       0.58|      29.26|   29.95|       10.7|     28.0|    11.4|2007|    6| 2007-06-19|
|      1|2007-06-20|84.0|61.0|73.0|   3.0|    52.0|   61.0| 0.0| 8.0|15360.0|70200.0|             |  0.0|     M|     0.0|        0.0|      29.39|    30.1|        7.8|     27.0|     8.8|2007|    6| 2007-06-20|
+-------+----------+----+----+----+------+--------+-------+----+----+-------+-------+-------------+-----+------+--------+-----------+-----------+--------+-----------+---------+--------+----+-----+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql import Window
from pyspark.sql.functions import lag, avg

lagWindow = Window.partitionBy("Station").orderBy("measureDate")

for columnName in continuosColums:
    for lagLevel in [1, 3, 8, 12]:
        
        weatherDS.createOrReplaceTempView("weatherDS")
        avgValDF = sqlContext.sql("""
                 SELECT 
                 year,
                 month, 
                 AVG({}) avg_val
                 FROM weatherDS 
                 GROUP BY 1,2
                 """.format(columnName))
        avgValDF = avgValDF.alias("avgValDF")

        weatherDS = weatherDS.select(["*", lag(columnName, 1).over(lagWindow).alias("{0}_lag_{1}".format(columnName, lagLevel))]).\
        join(avgValDF, (weatherDS.year == avgValDF.year) &
                       (weatherDS.month == avgValDF.month),
             "left").\
        selectExpr(["weatherDS.*", 
                    "CASE WHEN {0}_lag_1 IS NULL THEN avgValDF.avg_val ELSE {0}_lag_{1} END as {0}_lag_{1}".format(columnName, lagLevel)
                   ])
        weatherDS = weatherDS.alias("weatherDS")

In [ ]:
weatherDS.show()